.card {
  margin: 1em;
}

.grid {
  height: 50%;
  width: 80%;
}

.card-img {
  max-width: initial;
}

.crop-div {
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.pin-icon {
  width: 5em;
}

.query-header {
  margin: 5em;
}
