.card {
  margin: 1em;
}

.grid {
  height: 50%;
  width: 80%;
}

.card-img {
  max-width: initial;
}

.crop-div {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-position: center;
}

.pin-icon {
  width: 5em;
}

.query-header {
  margin: 5em;
}

.pizza-header {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  background-image: url("./assets/pizzaImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  overflow: hidden;
  background-color: #f8f9fa;
}

.card-div {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.empty-search {
  padding-top: 10%;
  padding-bottom: auto;
  font-size: large;
  text-align: center;
  background-color: #f8f9fa;
}

.loading-page {
  padding-top: 20%;
  padding-bottom: 20%;
  vertical-align: middle;
  padding-left: 50%;
}
